# Jupyter/IPython Extensions
aquirdturtle_collapsible_headings
ipympl
ipyplot
ipywidgets
jedi-language-server
jupyterlab_code_formatter
jupyterlab-lsp
jupyter-server-proxy
jupytext
sidecar

# Jupyter Themes
JLDracula

# Formatters
black
isort
yapf

# PyPI Packages
colorama
h5py
matplotlib
opencv-python
pandas
pyarrow
pydicom
rasterio
scikit-learn
shapely
tensorboard

# Git Packages
git+https://github.com/smutch/h5dir.git
