# Jupyter Extensions
JLDracula
aquirdturtle_collapsible_headings
ipywidgets
jedi-language-server==0.21.0
jupyterlab_code_formatter
jupyterlab-lsp
jupyter-server-proxy
jupytext

# Formatters
black
isort
yapf

# Python Packages
colorama
h5py
matplotlib
numpy
opencv-python
pandas
pyarrow
pydicom
rasterio
scikit-learn
scipy
shapely
tensorboard
tqdm
git+https://github.com/smutch/h5dir.git
