# Jupyter/IPython Extensions
aquirdturtle_collapsible_headings
ipympl
ipyplot
ipywidgets
jupyterlab_code_formatter
jupyterlab_execute_time
jupyterlab-lsp
jupytext
sidecar

# Jupyter Themes
JLDracula
jupyterlab-horizon-theme
theme-darcula

# Formatters, linters, etc.
black
isort
python-lsp-server[all]
yapf

# PyPI Packages
colorama
h5py
imagecodecs
matplotlib
opencv-python
openpyxl
pandas
pipx
pydicom
rich
scikit-learn
scikit-learn-intelex
tensorboard

# Git Packages
git+https://github.com/smutch/h5dir.git
